<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Java Junior Q&A</title>
</head>
<body>
<h1>Java Junior Q&A</h1>


<form action="/find">
    <h3>
        Select Letter:
    </h3>
    <select name="info">
        <option value="all">Find All</option>
        <option th:each="letter : ${letters}"
                th:value="${letter}"
                th:text="${letter}"/>
    </select>

    <input type="submit" value="Send">
</form>
<br>
<a th:href="@{/showFormForAdd}">Add Record</a>
<br>
<ul>
    <li th:each="message : ${messages}">
        <h1 th:text="${message.character}"></h1>
        <h2 th:text="${message.name}"></h2>
        <h3 th:text="${message.description}"></h3>
        <div>
            <a th:href="@{/showFormForUpdate(messageId=${message.id})}">Update</a>
            <a th:href="@{/delete(messageId=${message.id})}"
               onclick="if(!(confirm('Are you sure you want to delete this record?')))return false">Delete</a>
        </div>
        <hr>
    </li>
</ul>
</body>
</html>